@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Spartan', sans-serif; */
}

#preloader{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff url('../src/preloader.gif') no-repeat center;
  z-index: 99999;
}

/* Navbar Styling */
#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282936;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  position: fixed; 
  width: 100%; 
  height: 10vh;
  top: 0; 
  left: 0; 
  z-index:99;
}

#navbar_logo{
  font-family: 'Tangerine', cursive;
  text-decoration: none;
  font-size: 2.5rem;
  color: #25a554;
  margin-left: 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 1rem; */
  margin-right: 1rem;
  /* position: relative; */
}

#navbar li{
  list-style: none;
  padding: 1rem 1rem 0 1rem; 
  position: relative;
  
}

#navbar li a{
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #25a554;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#navbar li a:hover, #navbar_logo:hover{
  color: #fddb3a;
}


#mobile{
  display: none;
  align-items: center;
}

#close{
  display: none;
}

main{
  margin-top: 6rem;
}

#navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background-color: #fddb3a;
  position: absolute;
  bottom: -4px;
  left: 20px;
}


#myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 2rem; /* Place the button at the bottom of the page */
    right: 2rem; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
}
#myBtn:hover{
  opacity: 0.8;
}
  .skills {
    max-width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .skill-header {
    text-align: center;
    margin-bottom: 1rem;
  }
  .skills-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .skill-container{
    width: 9rem;
    background-color: #d9dae8;
    margin: 0.5rem;
    border-radius: 100%;
    padding: 2rem;
    cursor: pointer;
    transition: 0.2s ease;
  }
  .skill-container:hover{
    background-color: #fddb3a;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  }
  
  .icon {
    width: 90%;
    height: 80%
  }
  


  #portfolio{
    max-width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }
  .project-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .project-header{
    text-align: center;
    margin-bottom: 1rem;
  }
  .project-container {
    text-align: center;
    width: 27rem;
    padding: 1rem;
    margin: 0.8rem;
    height: 27rem;
    background-color: #fff;
    /* border-radius: 1rem;
    box-shadow: rgb(204, 219, 232) 3px 3px 3px 3px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    border: 1px solid #cce7d0;
    border-radius: 20px;
    transition: 0.2s ease;
  }
  .project-container:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  }

  .project-pics {
    width: 55%;
    height: 50%;
    margin-bottom: 1rem;
    border-radius: 0.6rem;
  }
  .project-details{
    margin-top: 0.5rem;
    text-align: justify;
    font-size: 0.9rem;
  }
  
  
  

  .publication-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
  .publication-header{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .publication-container {
    text-align: center;
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    margin: 1rem;
  }

  .publication-container a{
    text-decoration: none;
    color: black;
  }
  .publication-container button{
    font-size: 1rem;
  }
  .publication-container a:hover{
    text-decoration: underline;
  }

  #footer{
    margin-top: 4rem;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #E3E6F3;
  }

  #footer p{
    font-size: 1.1rem;
    font-weight: 450;
  }

  #footer #email span{
    color: #25a554;
  }

  #footer #social-media{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #footer #social-media a{
    font-size: 2rem;
    padding: 0.4rem;
  }

  #footer #social-media a i{
    color: #222;
    transition: 0.2s ease;
  }

  #footer #social-media a i:hover{
      color: #fddb3a;
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  }




@media (max-width: 720px){
  main{
    margin-top: 1rem;
  }

  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -14rem;
    height: 100vh;
    width: 14rem;
    background-color: #282936;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    margin-right: 0;
    transition: 0.3s ease;
  }
  #navbar li{
    top: 3rem;
    margin-bottom: 1rem;
  }
  #mobile{
    display: flex;
    align-items: center;
  }
  #mobile #bar{
    color: #fff;
    font-size: 2rem;
    margin-right: 1rem;
  }
  #navbar.active{
    right: 0rem;
}
  #close{
    display: initial;
    position: absolute;
    top: 1rem;
    left: 3.1rem;
    color: #fff;
    font-size: 2rem;
}

  .project-title{
    font-size: 0.9rem;
  }
  .project-details{
    font-size: 0.6rem;
  }
  .project-container {
    width: 27rem;
    height: 22rem;
  }
  .navbarLogo{
    margin: auto;
  }
  .nav{
    margin: auto;
  }
  .nav-link{
    font-size: 0.45rem;
  }
  #navbar_logo{
    font-size: 2rem;
  }
  .publication-container button{
    font-size: 0.7rem;
  }
}